.main-title{
  font-size:65px;
  text-align:center;
}

.main-title small{
  font-size:25px;
  display:block;
}

.artist-input{
  width:75%;
  display:block;
  margin:25px auto;
  height:65px;
  font-size:30px;
}

.tracks{
  text-align:center;

}
.tracks span{
  margin:0px 15px;
}

.tracks .track-control{
  position:relative;
  top:7px;
  font-size:25px;
}

.tracks .track-control:hover{
  color:grey;
}

.tracks .track-control:active{
  color:darkgrey;
}
